extends layout

block head
    script(data-main="js/main", src="js/components/requirejs/require.js")



block content
    //div(data-bind="temperature:data", style="height:300px;width:600px")


    div(class="tabs)
    div(class="tab monitor")
        div(class="chart", data-bind="chart:temperatureData")
        div(class="chart", data-bind="chart:moistureData")


//    div(data-bind="click:function(){creatingNote(!creatingNote())}")='Add Note'
//
//
//    div(class="calendar", data-bind="calendar: notes", style="height:300px;margin-left:300px")
//creatingNote
//    div(data-bind="if:")
//        span='New Note'
//        input(data-bind="value:currentText, valueChange:'keyup'")
//        div(data-bind="click:saveNew.bind($data)")="Same"
//
//    div(class="note-list")
//        ul(data-bind="foreach:notes")
//            li
//                span(data-bind="text:uuid")
//                span(data-bind="text:note")
//                span(data-bind="text:time")